/__pycache__
/venv
*.ipynb_checkpoints
Quantitative Momentum_ A Practitioner’s Guide to Building a Momentum-Based Stock Selection System ( PDFDrive )
quantitative_momentum_strategy_#1.ipynb
Relative Momentum Back Test Result Weekly Rebalancing.png
Relative Momentum Back Test Result.png
